{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Raccoon{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'raccoon/images/favicon.ico' %}"/>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'raccoon/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'raccoon/bootstrap/css/bootstrap-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'raccoon/css/raccoon.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}"> -->

    {% block extra_css %}
        <!-- Override this in templates to add extra stylesheets -->
    {% endblock extra_css %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand d-flex" href="/">
            <img src="{% static 'raccoon/images/raccoon.png' %}" style="margin-right: 5px;" alt="" width="30" height="30"> Raccoon
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/shows/top/">Top</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/shows/">All</a>
              </li>
            </ul>
            {% block search %}{% endblock search %}
            {% if user.is_authenticated %}
              <div class="nav-item dropdown dropdown-login">
                <a class="nav-link dropdown-toggle no-decoration" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% if user.is_staff %}
                    <li><a class="dropdown-item" href="/admin/">Admin</a></li>
                  {% endif %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/logout/">Log out</a></li>
                </ul>
              </div>
            {% else %}
                <div class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Log In</a>
                </div>
            {% endif %}
          </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}

    <script type="text/javascript" src="{% static 'raccoon/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'raccoon/js/jquery.min.js' %}"></script>
    <script src="{% static 'raccoon/js/raccoon.js' %}"></script>

    {% block extra_js %}
    {% endblock extra_js %}
</body>
</html>
