{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Raccon{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shows/css/top.css' %}" />
{% endblock extra_css %}

{% block content %}

<div class="container">

  <div class="main-logo mt-3 d-flex flex-row align-items-center justify-content-center">
      <img src="{% static 'raccoon/images/raccoon.png' %}" height="150px" alt="logo">
      <span style="font-size: 110px">Raccoon</span>
  </div>

  <br>
  
  <div class="container">
      <table class="custom-table">
          <thead>
          <tr>
              <th>Rank</th>
              <th>Title</th>
              <th>Average Score</th>
          </tr>
          </thead>
          <tbody>
              {% for show in top10 %}
                  <tr>
                      <td><h1>{{ forloop.counter }}</h1></td>
                      <td>
                      <div class="d-flex flex-row align-items-center">
                          {% if show.cover %}
                              <img src="{{ show.cover.url }}"  width="85" height="119" alt="{{ show.cover.alt }}">
                          {% endif %}
                          <div class="details">
                              <h4><a href="/shows/{{ show.slug }}" class="no-decoration title">{{ show.title }}</a></h4> 
                              <p> {{ show.v_type }} ({{ show.episodes_no }} eps)</p>
                              <p> {{ show.started_airing }} - {{ show.finished_airing }}</p>
                              <p> {{ show.scores.count }} votes</p>
                          </div> 
                      </div>
                      </td>
                      <td>{% if show.average_score %} {{show.average_score|floatformat:2}} {% else %}N/A{% endif %}</td>
                  </tr>
              {% endfor %}
              {% if not top10 %}
                  No shows found!
              {% endif %}
          </tbody>
      </table>
      <p class="text-end"><a href="/shows/top/" style="color: white;">Go to see more!</a></p>
  </div>
</div>

{% endblock content %}
