{% extends 'base.html' %}
{% load static %}
{% load paginator_tags %}

{% block title %}{{ show.title }} - Raccoon{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shows/css/detail.css' %}" />
{% endblock extra_css %}

{% block content %}

<div class="d-flex align-items-center mt-3 container">
  <div class="bread-crubs">
      <a href="/" class="no-decoration">Home</a> >
      <a href="../" class="no-decoration">Shows</a> >
      <a href="." class="no-decoration">{{ show.title }}</a>
  </div>
</div>

<div class="title container">
  <h3 class="mb-0">{{ show.title }}</h3>
</div>

<div class="container main">
  <div class="row">
    <div class="col-12 col-md-3 details">
      <div class="d-flex flex-column">
        <div class="cover responsive">
          {% if show.cover %}
          <img src="{{ show.cover.url }}" alt="img"/>
          {% endif %}
        </div>
        <div class="info">
          <h5>Information</h5>
          <hr>
          <p>Type: {{ show.tv_type }}</p>
          <p>Episodes: {{ show.episodes_no }}</p>
          <p>Status: {{ show.status }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="rating-info row">
        <div class="score col">
          Score: {% if show.average_score  %} {{ show.average_score|floatformat:2 }} {% else %} N/A {% endif %}
        </div>
        <div class="rank col">
          Ranked: #{{ show.rank }}
        </div>
        <div class="members col">
          Members: {{ show.members }}
        </div>
      </div>
      {% if user.is_authenticated %} 
        <div class="rating-info row score-select-wrapper">
          <div class="col">
              <select class="form-select score-select" aria-label="Default select example" disabled>
                <option>Select</option>
                {% for value, verbose in SCORE_CHOICES %}
                    <option value="{{value}}" {% if value == show.user_score %}selected{% endif %}>{{verbose}}</option>
                {% endfor %}
              </select>
          </div>
          <div class="col">
            <div class="spinner-border text-primary score-spinner" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      {% endif %}
      <br>
      <div class="synopsis">
        <h4>Synopsis</h4>
        <hr>
        <p>{{ show.synopsis }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container main mt-2 mb-5">
  <div class="row">
    <div class="col-12 col-md-3 details">
      <div class="info mt-3">
        <p>Aired: {{ show.started_airing }} to {{ show.finished_airing }} </p>
        <p>
          Genres: 
          {% for genre in show.genres.all %} 
            {{ genre }} {% if not forloop.last %},{% endif %} 
          {% endfor %}
          {% if not show.genres %}N/A{% endif %}
        </p>
        <p>Rating: {{ show.rating }}</p>
        <p>
          Studios: 
          {% for studio in show.studios.all %} 
            {{ studio }} {% if not forloop.last %},{% endif %} 
          {% endfor %}
          {% if not show.studios %}N/A{% endif %}
        </p>
      </div>
    </div>
    <div class="col-12 col-md-9 p-2">
      <div class="row">
        {% for character in show.characters.all %}
          <div class="col-6">
            <div class="character d-flex flex-row">
              {% if not character.image_character %}
                <img src="{% static 'raccoon/images/no_profile.png' %}" height="60px" class="m-1" alt="no_profile_image">
              {% else %}
                <img src="{{ character.image_character.url }}" height="60px" class="m-1" alt="no_profile_image">
              {% endif %}
              <div class="character-details">
                <div class="character-name">{{ character.full_name }} by {{ character.actor.full_name }}</div>
                <small class="character-role">{{ character.role }}</small>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="container main mt-2 mb-5">
  {% if user.is_authenticated %}
    <form  id="comment-form" class="" method="post" action="{% url 'add-comment' show.slug %}">
      {% csrf_token %}
      <div class="row">
        <div class="fade show active" id="write" role="tabpanel" >
          <textarea 
            class="form-control mb-3 mt-2 write-textarea" 
            id="comment-content-textarea" 
            rows="3" 
            name="content" 
            placeholder="Comment"
            required
          >
          </textarea>
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-end">
          <button class="btn btn-success" id="comment-btn" type="submit">comment</button>
        </div>
      </div>
    </form>

    <hr>
  {% endif %}
  <div class="row">
    {% if show.comments.count == 0 %}
      <div class="text-center my-5 mx-auto">
        No comments yet!
      </div>
    {% endif %}
    {% for comment in show.comments.all %}
      <div class="card comment" data-comment-id="{{ comment.id }}">
        <div class="card-header">
          <small>{{ comment.author }} - {{ comment.created_at }}</small>
          {% if comment.author.id == user.id %}
            <span style="float: right">
              <button class="btn btn-danger btn-sm" onclick="deleteComment(this)">
                <i class="bi bi-trash"></i>
              </button>
            </span>
          {% endif %}
        </div>
        <div class="card-body">
            <p>{{ comment.content }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
{% block extra_js %}
<script type="text/javascript" src="{% static 'shows/js/score.js' %}"></script>
<script>
  function deleteComment(commentElement) {
    const comment = commentElement.closest(".comment")
    const commentId = comment.getAttribute('data-comment-id');
    const csrftoken = document.querySelector("#comment-form input[name='csrfmiddlewaretoken']").value; // xd
    
    const request = new Request(
      `/api${window.location.pathname}comments/${commentId}/`,
      {
        method: 'DELETE',
        headers: {
          'X-CSRFToken': csrftoken,
          "Content-Type": "application/json",
        },
        mode: 'same-origin', // Do not send CSRF token to another domain.
      }
    );
    fetch(request)
    .then((response) => {
      if(!response.ok){
        console.error(response);
        return;
      }
      comment.remove();
    });
  }
</script>
{% endblock extra_js %}
