{% extends 'base.html' %}
{% load static %}
{% load paginator_tags %}

{% block title %}Shows - Raccoon{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shows/css/index.css' %}" />
{% endblock extra_css %}

{% block search %}
<form class="d-flex" method="get">
    <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% endblock search %}

{% block content %}

<div class="container">

    <div class="d-flex align-items-center mt-3">
        <div class="bread-crubs">
            <a href="/" class="no-decoration">Home</a> >
            <a href="." class="no-decoration">Shows</a>
        </div>
    </div>

    <br>
    
    <div class="container">
        <div class="row row-cols-2 row-cols-md-4 g-4">
            {% for show in page_obj %}
            <div class="col">
                <div class="card h-100">
                    {% if show.cover %}
                        <img src="{{ show.cover.url }}" class="card-img-top" alt="{{ show.cover.alt }}">
                    {% else %}
                        <img src="{% static 'raccoon/images/no_profile.png' %}" class="card-img-top" alt="{{ show.cover.alt }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ show.slug }}" class="no-decoration">{{ show.title }}</a>
                        </h5>
                        <p>
                            Score: {% if show.average_score %} {{show.average_score|floatformat:2}} {% else %}N/A{% endif %}
                            (Your score: {% if show.user_score %}<span id="{{ show.slug }}-score">{{show.user_score}}</span>{% else %}N/A{% endif %})
                        </p>
                        {% if user.is_authenticated %}
                            <div class="row score-select-wrapper">
                                <div class="col-10">
                                    <select class="form-select score-select" id="{{ show.slug }}" aria-label="Default select example">
                                        <option>Select</option>
                                        {% for value, verbose in SCORE_CHOICES %}
                                            <option value="{{value}}" {% if value == show.user_score %}selected{% endif %}>{{verbose}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-2">
                                    <div class="spinner-border text-primary score-spinner" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <p class="card-text">{{ show.synopsis|truncatechars:95 }}</p>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            {% if not page_obj %}
                No shows found!
            {% endif %}
        </div>
    </div>
    {% get_proper_elided_page_range paginator page_obj.number as page_range %}
    {% if  page_obj.paginator.num_pages > 1 %}
    <!-- Pagination -->
    <nav class="shows-pagination d-flex justify-content-center mt-4" aria-label="shows-pagination">
        <ul class="pagination">
            <!-- Previous -->
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}
            <!-- pages - need better renderer for many pages -->
            {% for page_number in page_range %}
                
                {% if page_number == paginator.ELLIPSIS %}
                    <li class="page-item disabled">
                        <span class="page-link">{{ paginator.ELLIPSIS }}</span>
                    </li>
                {% else %}
                <li class="page-item {% if page_obj.number == page_number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page_number }}&{{ q_params }}">{{ page_number }}</a>
                </li>
                {% endif %}
            
            {% endfor %}

            <!-- Next -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            {% endif %}
            
        </ul>
      </nav>
      {% endif %}
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'shows/js/score.js' %}"></script>
{% endblock extra_js %}
