{% extends 'base.html' %}
{% load static %}
{% load paginator_tags %}

{% block title %}Top shows - Raccoon{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shows/css/top.css' %}" />
{% endblock extra_css %}

{% block content %}
    <div class="container">

        <div class="d-flex align-items-center mt-3">
            <div class="bread-crubs">
                <a href="/" class="no-decoration">Home</a> >
                <a href="../" class="no-decoration">Shows</a> >
                <a href="." class="no-decoration">Top</a>
            </div>
        </div>

        <br>
        
        <div class="container">
            <table class="custom-table">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Title</th>
                    <th>Score</th>
                    <th>Your Score</th>
                </tr>
                </thead>
                <tbody>
                    {% for show in page_obj %}
                        <tr>
                            <td><h1>{{ forloop.counter0|add:page_obj.start_index }}</h1></td>
                            <td>
                            <div class="d-flex flex-row align-items-center">
                                {% if show.cover %}
                                    <img src="{{ show.cover.url }}"  width="85" height="119" alt="{{ show.cover.alt }}">
                                {% endif %}
                                <div class="details">
                                    <h4><a href="/shows/{{ show.slug }}" class="no-decoration title">{{ show.title }}</a></h4> 
                                    <p> {{ show.v_type }} ({{ show.episodes_no }} eps)</p>
                                    <p> {{ show.started_airing }} - {{ show.finished_airing }}</p>
                                    <p> {{ show.votes }} votes</p>
                                </div> 
                            </div>
                            </td>
                            <td>{% if show.average_score %} {{show.average_score|floatformat:2}} {% else %}N/A{% endif %}</td>
                            <td>{% if show.user_score %} {{show.user_score}} {% else %}N/A{% endif %}</td>
                        </tr>
                    {% endfor %}
                    {% if not page_obj %}
                        No shows found!
                    {% endif %}
                </tbody>
            </table>
        </div>
        {% get_proper_elided_page_range paginator page_obj.number as page_range %}
        {% if  page_obj.paginator.num_pages > 1 %}
        <!-- Pagination -->
        <nav class="shows-pagination d-flex justify-content-center" aria-label="shows-pagination">
            <ul class="pagination">
                <!-- Previous -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                {% endif %}
                <!-- pages - need better renderer for many pages -->
                {% for page_number in page_range %}
                    
                    {% if page_number == paginator.ELLIPSIS %}
                        <li class="page-item disabled">
                            <span class="page-link">{{ paginator.ELLIPSIS }}</span>
                        </li>
                    {% else %}
                    <li class="page-item {% if page_obj.number == page_number %}active{% endif %}">
                        <a class="page-link" href="?page={{ page_number }}&{{ q_params }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                
                {% endfor %}

                <!-- Next -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                {% endif %}
                
            </ul>
        </nav>
        {% endif %}
    </div>
{% endblock content %}
