body {
  color: #c8c4bf;
  background-color: #131516;
}

h1 {
  color: #e5e3df;
}

.list-group-item {
  background-color: #181a1b;
  color: #c8c4bf;
  border: 1px solid rgba(250, 247, 247, 0.13);
}

.page-item.disabled .page-link {
  color: rgb(158, 150, 137);
  background-color: rgb(24, 26, 27);
  border-color: rgb(56, 61, 63);
}

.page-item.active .page-link {
  color: rgb(232, 230, 227);
  background-color: rgb(2, 80, 196);
  border-color: rgb(1, 71, 174);
}

.page-link {
  color: rgb(35, 148, 253);
  text-decoration-color: currentcolor;
  background-color: rgb(24, 26, 27);
  border-color: rgb(56, 61, 63);
}

.page-link:hover {
  color: rgb(35, 148, 253);
  text-decoration-color: currentcolor;
  background-color: rgb(48, 48, 48);
  border-color: rgb(56, 61, 63);
}

.dropdown-menu {
  color: rgb(209, 205, 199);
  list-style-image: none;
  background-color: rgb(24, 26, 27);
  border-color: rgba(140, 130, 115, 0.15);
}

.dropdown-item {
  color: rgb(209, 205, 199);
  text-decoration-color: currentcolor;
  background-color: transparent;
  border-color: currentcolor;
}

.dropdown-item:hover {
  color: rgb(209, 205, 199);
  text-decoration-color: currentcolor;
  background-color: rgb(48, 48, 48);
  border-color: currentcolor;
}

.dropdown-menu {
  color: rgb(200, 195, 188);
  list-style-image: none;
}

.card {
  background-color: #181a1b;
  border: 1px solid rgba(229, 229, 229, 0.13);
}

.nav-tabs .nav-link.active {
  color: rgb(181, 175, 166);
  background-color: rgb(24, 26, 27);
  border-color: rgb(56, 61, 63) rgb(56, 61, 63) rgb(48, 52, 54);
}

.nav-tabs {
  border-bottom-color: rgb(56, 61, 63);
}

.form-select {
  color: rgb(209, 205, 199);
  background-color: rgb(24, 26, 27);
  border-color: rgb(60, 65, 68);
}

.input-group-text {
  color: rgb(209, 205, 199);
  background-color: rgb(35, 38, 39);
  border-color: rgb(60, 65, 68);
}

.form-control {
  color: rgb(209, 205, 199);
  background-color: rgb(24, 26, 27);
  border-color: rgb(60, 65, 68);
}

.form-control:-moz-focusring {
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: white;
  background-color: #181a1b;
  border-color: #10161d;
  outline: 0;
}

.pfp {
  background: #dad5d5;
  border-radius: 5px;
  border: 3px solid #8a8a8c;
  padding: 5px;
}

.btn-grad-blue {
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%)
}

.btn-grad-blue {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad-blue:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad-green {
  background-image: linear-gradient(to right, #363899f0 0%, #c51f1f 51%, #363899f0 100%)
}

.btn-grad-green {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  padding: 7px;
}

.btn-grad-green:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.center-h {
  margin-left: auto;
  margin-right: auto;
}

.center-vh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text-center-middle {
  display: flex;
  align-items: center;
}

.navbar.navbar-default,
.navbar button.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.dropdown-login ul{
  left: initial !important;
  right: 0;
}

.navbar {
  border-bottom: 1px solid gray;
}

.dropdown-menu {
  min-width: 6rem;
}

.no-decoration {
  color: inherit;
  text-decoration: inherit;
}

.form-select:disabled {
  background-color: #737373;
}

:root {
  scrollbar-color: dark;
}

.responsive img {
  width: 100%;
  height: auto;
}

.navbar-brand {
  font-weight: bolder;
}
