.main {
    border: 1px solid #555555;
  }
  
.title {
    /* border-bottom: 1px solid #555555; */
    padding: 10px;
    background-image: linear-gradient(to right, #363899f0 0%, #c51f1f 51%, #363899f0 100%);
    margin-top: 0.8rem;
}

.details {
    border-right: 1px solid #555555;
}

.cover {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 15px;
}

.rating-info{
    margin: 10px;
    border: 1px solid black; /* #363a3c */
    background-color: #1d2021;
    padding: 10px;
}

.score-spinner{
    visibility: hidden;
}