.custom-table {
    width: 100%;
}

.custom-table th,
.custom-table td {
    border: 1px solid #5c5c5c;
    text-align: center;
}

.custom-table td {
    padding: 15px 10px;
}

.custom-table td:nth-child(2) {
    text-align: left;
}

.custom-table tr:nth-child(2n) {
    background-color: #282828;
}

.custom-table .details {
    margin: 10px;
}

.custom-table .details p {
    margin-bottom: 1px;
}

.shows-pagination {
    margin-top: 20px;
}