{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

<br><br>

Agata, zrob jakis fajny homepage tutaj pls xd

<br><br>

{{ user_shows }}

<p><a href="/shows/" style="color: white;">Go to shows</a></p>
<p><a href="{% url 'logout' %}" style="color: white;">Log Out</a></p>

{% endblock content %}
